@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-primaria: #0B2447;
    --cor-secundaria: #19376D;
    --cor-terciaria: #576CBC;
    --cor-fundo: #A5D7E8;
    --cor-texto: white;
    
}

body {
    box-sizing: border-box;
    background-color: var(--cor-fundo);
}

.cabecalho {
    background-color: var(--cor-secundaria);
    padding: 1.4% 0 1.4% 0;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    gap: 4%;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.apresentacao__conteudo {
    justify-content: center;
}

.apresentacao__conteudo__titulo {
    background-color: var(--cor-primaria);
    font-size: 3.75rem;
    text-align: center;
    margin-bottom: 3%;
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.18rem;
    color: var(--cor-terciaria);
}

.favoritas__principal {
    margin: 15% 0%;
}

.favoritas__titulo {
    background-color: var(--cor-primaria);
    font-size: 3.75rem;
    text-align: center;
    color: var(--cor-terciaria);
}

.favoritas {
    margin: 5% 0%;
    display: flex;
    justify-content: center;
    gap: 3%;
}

img {
    width: 30%;
    border: solid 10px var(--cor-primaria);
}

.rodape {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 24px;
}