.contato {
    background-color: var(--branco);
    padding: 1em;
}

.contato__titulo,
.contato__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-weight: 500;
    font-size: 24px;
}

.contato__texto {
    color: var(--azul);
    font-weight: 300;
    margin: 1em 0;
}

.contato__email {
    border: 1px solid var(--azul);
    border-radius: 24px;
    padding: 1em;
    width: 90%;
    color: var(--azul);
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url(../img/Email.svg) no-repeat;
    padding-left: 2.3em;
    font-weight: 400;
}

/*FORUM: OUTRA MANEIRA DE FAZER O CAMPO DE INPUT

https://cursos.alura.com.br/forum/topico-sugestao-outra-maneira-de-fazer-os-campos-de-input-279742
*/