.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em 0.5em 1em 1em
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 55vw;
}

.container__botao:checked~.lista-menu {
    display: block;
    z-index: 10; /* Afeta a profundidade de exibição dos elementos na tela */
}

/* Explicação .container__botao:checked~ .lista-menu

Então eu botei um .container, no botão, selecionou o input, eu botei :checked, esse checked é uma pseudo classe. Então, o que ele faz? Ele detecta se está preenchida aquele input checkbox.

E depois eu botei um acento til, aquilo é chamado combinador CSS. Um combinador CSS desse aqui, do acento til, ele vai procurar um outro elemento que vem em seguida daquele de antes, que tem aquela classe que eu botei depois.

Então, o que ele está fazendo aqui? Esse caso é o mais perto que chegamos de uma condicional com CSS, então podemos já imaginar como se estivesse com JavaScript ali, então ele funciona, se o container botão tiver o checked, ele vai procurar outro que venha depois dele, que tenha a classe lista menu e vai botar display block nele. Se não tivesse com lista menu não ia fazer nada, e também se não tivesse no checked não ia fazer nada.*/

.lista-menu__titulo,
.lista-menu__item {
    background-color: var(--branco);
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}